@use 'variables' as var;

// There are no comments in this file, everything is explained in _main.scss and _variables.scss.

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    font-family: var.$main-font;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    background-color: var.$primary-color;
    height: 100%;
    width: 100%;

    z-index: -99;

    &__svg {
        position: relative;
        fill: var.$secondary-color;
        height: 100%;
        width: 100%;
    }
}